/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

/*.overall{
  font-family:Tahoma, Geneva, sans-serif;
}*/


ul li { list-style-type: none; }

.left-box li {
  color:#F6F7F8;
  }

.right-box{
  background-color:#ffffff;
  padding:5px 0 1000px 0;
  color:#E3E4E5;
  border-left-style:solid;
  border-color:white;
  border-width:1px;
  min-height:300px;

}

header h3{
  color:white;
  background-color:#428bca;
  margin:0;
  padding:4px;
  border-radius:11px;
}

.tagline {
  color:black;
  font-family:"Comic Sans MS", cursive, sans-serif;
}


h4 {
 font-size:14px;
}

.movie-buttons:hover{
  background-color:#eee;
  cursor: pointer;
  cursor: hand;
}

.movie-button-text{
  margin:0;
  padding-top:10px;
  padding-bottom:10px;
}

.left-box{
  background-color:#f8f8f8;
  border-color:#16a085;
  color:#428bca;
  padding:5px 0 1000px 0
}

.left-box input {
  color:black;
  border-radius:7px;
}

.input-box {
  padding-left:5%;
  padding-right:5%;

}

.under {
  padding-top:5px;
}

.inner-left-box {
  margin-left:5%;
}

.pop-down-info {
  margin-left:27%;
}

.big-list h4 {
  margin-top:0px;
  margin-bottom:0px;
  color:#555;
  font-size:15px;
}

.big-list h5 {
  margin-top:10px;
  margin-bottom:2px;
  color: #428bca;

}

.hr-line{
  margin:0px;
}

.scores {
  padding-bottom:7px;
  padding-left:27px;
  color:#FEB74D;
  font-size:20px;
  font-weight:bold;
  margin-top:0px;
  margin-bottom:0px;
}

