<!DOCTYPE html>
<html ng-app>
<head>
 <title>MovieScope</title>
 <%= stylesheet_link_tag    "application", media: "all" %>
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
 <%= javascript_include_tag "application", controller_name %>
 <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
